/*Services Section*/

.services-section {
	text-align: center;
	padding: 100px 0;
	background: #f9f9f9;
}

.services-section p.subtitle {
	color: #5dae87;
	font-size: 17px;
}

ul.services-list {
	width: 90%;
	margin: 100px auto 60px;
}

ul.services-list li {
	display: inline-block;
	float: left;
	width: 30.66%;
	background: #fff;
	padding: 60px 0;
	margin: 0 2%;
}

ul.services-list li:hover {
	box-shadow: 0px 0px 40px rgba(0,0,0,.1);
}

ul.services-list li .image-container {
	width: 100px;
	height: 100px;
	margin: 0 auto 40px auto;
	background: #f9f9f9;
	border-radius: 999px;
	position: relative;
}

ul.services-list li .image-container img {
	position: absolute;
	top: 28px;
	left: 28px;
}

ul.services-list li p {
	width: 80%;
	margin: 20px auto 40px auto;
}

ul.services-list li a {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #5dae87;
}

ul.services-list li a:hover {
	color: #42966e;
}

ul.services-list li:first-of-type {
	margin-left: 0;
}

ul.services-list li:last-of-type {
	margin-right: 0;
}

@media only screen and (max-width: 960px) {
	ul.services-list li {
		display: block;
		width: 100%;
		margin: 20px 0!important;
	}
}
